/* navigation  */
/* #navbar{
    flex-direction: column;
} */
#navbar::before{
    
    height: 95%;
    width: 100vw;
}
#navbar ul li a{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* home */
.home{
    height: 656px;
}
.home::before{
    height: 667px;
    
}

/* Our cources */
.oc-section{
    margin-top: 135px;
}
.oc-container{
    flex-direction: column;
    margin: 1px;
}
.oc-box{
    margin:  5px 24px;
}

/* About me */
.about{
    flex-direction: column;
    overflow: hidden;
}
.about img{
    display: flex;
    flex-wrap: wrap;
}
#aboutme {
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 25px;
    
}
#my{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

/* .about img{
    width: 80%;
} */
/* .vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  } */

/* contact us */
.contact1{
    flex-wrap: wrap;
    /* flex-direction: column; */
}
.box p{
    font-size: 1rem;
}
/* footer  */

